@import 'styles/variables.scss';

.App {
  text-align: center;
  padding: 25px 20px 34px;
  background-color: $color_white;
  font-family: 'Roboto', sans-serif;

  @media ($tablet) {
    padding: 35px 34px 54px;
  }

  @media ($smal_desktop) {
    padding: 35px 42px 62px;
  }

  @media ($desktop) {
    padding: 35px 123px 97px;
  }
}

.App--dark {
  background-color: $color_black;
}
